.modalWindow {
  width: 60%;
  max-width: none !important;
  max-height: none !important;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 768px) {
    width: 90%;
  }
}
.modalBody {
  display: flex;
  padding: 0rem !important;
}
.modalBody {
  display: flex;
}
.dialog{
  padding-left:0 !important;
}